body {
  min-height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #ccff90;
}
.fab-anchor {
  position: relative;
  line-height: 0;
}
.brand-logo {
  margin-left: 2rem;
}
.card.gift {
  margin-bottom: 3rem;
  position: relative;
}
.card.gift::before {
  position: absolute;
  content: 'redeem';
  font-family: 'Material Icons';
  top: 0;
  right: 0;
  color: hsla(100, 50%, 20%, 0.08);
  font-size: 10rem;
  line-height: 1;
  /* margin-right: -4rem; */
}
.card.person {
  position: relative;
  overflow-x: hidden;
}
.card.person::before {
  position: absolute;
  content: 'person';
  font-family: 'Material Icons';
  top: 0;
  left: 0;
  color: hsla(100, 50%, 20%, 0.16);
  font-size: 10rem;
  line-height: 1;
  margin-left: -4rem;
}
.person .card-content {
  padding-left: 4rem;
}
.container form {
  margin-top: 4rem;
}
